# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local

# Build output
dist/
build/
.vite/

/Web/be/package.json
/Web/be/package-lock.json

/Web/fe/package.json
/Web/fe/package-lock.json
